<mat-card>
  <h3 style="padding-left: 10px;"> Lights &amp; Sensors </h3>
  <mat-card-content>
    <mat-slide-toggle *ngFor="let anOutput of deviceOutputs"
              color="primary"
              [id]="anOutput.gpio_pin"
              [checked]="makeBool(anOutput.light_status)"
              (change)="onSlideChange($event)"
              style="display: block; margin-bottom: 15px;">
        {{anOutput.light_color}} {{anOutput.light_type}}
        (<b>{{anOutput.gpio_pin}}</b>)
    </mat-slide-toggle>
  </mat-card-content>
</mat-card>

<h4 style="padding-left: 10px;"> Legacy </h4>
<p>
  <mat-button-toggle value="red" (change)="toggleRedLED($event)">
    Red LED
  </mat-button-toggle>
  <mat-button-toggle value="green" (change)="toggleGreenLED($event)">
    Green LED
  </mat-button-toggle>
  <mat-button-toggle value="green" (change)="toggleLightBulb($event)">
    Lampadina
  </mat-button-toggle>
</p>
<p>
  <button mat-raised-button (click)="switchAllOff()">Spegni Tutti</button>
  <button mat-raised-button (click)="switchAllOn()">Accendi Tutti</button>
</p>
