<h3 style="padding-left: 10px;"> Devices </h3>
<div style="padding: 15px" *ngFor="let aDevice of deviceList">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar>
        <img mat-card-image src="assets/bannerPic2-1.png" style="height: 45px; width: 50px; margin-left: -10px; margin-top: -12px;" alt="Your Device">
      </div>
      <mat-card-title> {{aDevice.device_name}} </mat-card-title>
      <mat-card-subtitle> ID: {{aDevice.device_id}} </mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <a mat-button color="accent" (click)="deleteDevice(aDevice)"> REMOVE </a>
      <a mat-button routerLink="/devicedetail/{{aDevice.device_id}}"> VIEW DETAILS </a>
    </mat-card-actions>
  </mat-card>
</div>
<div style="position: fixed; bottom: 15px; right: 30px;">
  <button mat-fab color="primary" (click)="openCreateDevice()"> + </button>
</div>
